# Ignore all __pycache__ directories at any level
**/__pycache__/
**/node_modules/

# Ignore compiled Python files
*.py[cod]
.env

.DS_Store

*.tar

app.cpython-310.pyc
/Backend/Wordle API/__pycache__
/Backend/Wordle API/__pycache__
/Backend/Wordle API/components/__pycache__
